<div class="row">
  <div class="col-sm-4">
    {{#file-drop file=file}}
      <strong>Drop your file here</strong>
    {{/file-drop}}

    <div class="text-center">
      <em>- or, paste your list below -</em>
    </div>

    {{textarea rows="4" value=list class="raw-list"}}

    <hr/>

    <div class="text-center">
      <label class="btn btn-info btn-block {{if showSalutation 'active'}}">
        {{input type="checkbox" autocomplete="off" checked=showSalutation}}
        Show Salutation
      </label>
      <label class="btn btn-info btn-block {{if showFirstName 'active'}}">
        {{input type="checkbox" autocomplete="off" checked=showFirstName}}
        Show First Name
      </label>
      <label class="btn btn-info btn-block {{if showMiddleInitial 'active'}}">
        {{input type="checkbox" autocomplete="off" checked=showMiddleInitial}}
        Show Middle Initial
      </label>
      <label class="btn btn-info btn-block {{if showLastName 'active'}}">
        {{input type="checkbox" autocomplete="off" checked=showLastName}}
        Show Last Name
      </label>
      <label class="btn btn-info btn-block {{if showSuffix 'active'}}">
        {{input type="checkbox" autocomplete="off" checked=showSuffix}}
        Show Suffix
      </label>

      <hr/>

      <a class="btn btn-primary btn-block" {{action 'exportToCsv'}}>Export {{model.length}} Names</a>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="name-table">
      <span class="cell index-cell"></span>
      {{#if showSalutation}}
        <strong class="cell input-cell {{controller.inputCellClass}}">Salutation</strong>
      {{/if}}
      {{#if showFirstName}}
        <strong class="cell input-cell {{controller.inputCellClass}}">First name</strong>
      {{/if}}
      {{#if showMiddleInitial}}
        <strong class="cell input-cell {{controller.inputCellClass}}">Middle initial</strong>
      {{/if}}
      {{#if showLastName}}
        <strong class="cell input-cell {{controller.inputCellClass}}">Last name</strong>
      {{/if}}
      {{#if showSuffix}}
        <strong class="cell input-cell {{controller.inputCellClass}}">Suffix</strong>
      {{/if}}
      <th></th>
    </div>
    {{#ember-list items=model height=540 rowHeight=30 width=750}}
      <span class="cell index-cell">{{increment-integer _view.contentIndex}}</span>
      {{#if controller.showSalutation}}
        {{input classBinding="controller.inputCellClass" class="cell input-cell" value=salutation}}
      {{/if}}
      {{#if controller.showFirstName}}
        {{input classBinding="controller.inputCellClass" class="cell input-cell" value=firstName}}
      {{/if}}
      {{#if controller.showMiddleInitial}}
        {{input classBinding="controller.inputCellClass" class="cell input-cell" value=middleInitial}}
      {{/if}}
      {{#if controller.showLastName}}
        {{input classBinding="controller.inputCellClass" class="cell input-cell" value=lastName}}
      {{/if}}
      {{#if controller.showSuffix}}
        {{input classBinding="controller.inputCellClass" class="cell input-cell" value=suffix}}
      {{/if}}
      <a class="cell remove-link" {{action 'deleteRow' this}}>
        <i class="glyphicon glyphicon-remove"></i>
      </a>
    {{/ember-list}}

    <div class='text-right'>
      <a {{action 'addRow'}}class="btn-link">
        <span class="glyphicon glyphicon-plus"></span>
        Add Row
      </a>
    </div>
  </div>
</div>
