{{file-drop file=file}}

<table>
  <thead>
    <tr>
      {{#if showSalutation}}
        <th>Salutation</th>
      {{/if}}
      {{#if showFirstName}}
        <th>First name</th>
      {{/if}}
      {{#if showMiddleInitial}}
        <th>Middle initial</th>
      {{/if}}
      {{#if showLastName}}
        <th>Last name</th>
      {{/if}}
      {{#if showSuffix}}
        <th>Suffix</th>
      {{/if}}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each name in model}}
      <tr>
        {{#if showSalutation}}
          <td>
            {{input value=name.salutation}}
          </td>
        {{/if}}
        {{#if showFirstName}}
          <td>
            {{input value=name.firstName}}
          </td>
        {{/if}}
        {{#if showMiddleInitial}}
          <td>
            {{input value=name.middleInitial}}
          </td>
        {{/if}}
        {{#if showLastName}}
          <td>
            {{input value=name.lastName}}
          </td>
        {{/if}}
        {{#if showSuffix}}
          <td>
            {{input value=name.suffix}}
          </td>
        {{/if}}
        <td>
          <a {{action 'deleteRow' name}}>
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<a {{action 'addRow'}}class="btn-link">Add Row</a>
<a {{action 'exportToCsv'}}class="btn-link">Export List</a>
